[submodule "tools/TinderBox-Mac"]
	path = tools/TinderBox-Mac
	url = git://github.com/cinder/TinderBox-Mac.git
[submodule "tools/TinderBox-Win"]
	path = tools/TinderBox-Win
	url = git://github.com/cinder/TinderBox-Win.git
[submodule "boost"]
	path = boost
	url = git://github.com/cinder/Cinder-Boost.git
[submodule "blocks/Cinder-AvfImpl"]
	path = blocks/Cinder-AvfImpl
	url = git@github.com:calebjohnston/Cinder-AvfImpl.git
[submodule "blocks/Cinder-GTest"]
	path = blocks/Cinder-GTest
	url = git@github.com:calebjohnston/Cinder-GTest.git
[submodule "blocks/CinderFX"]
	path = blocks/CinderFX
	url = git@github.com:chaoticbob/CinderFx.git
